{template "content","header"}

<!-- start subbanner -->
<section id="subbanner" class="text-center">
    <div class="littlenav">
        <div class="container">

            <h4>{$CAT[catname]}</h4>

        </div>
    </div>
</section>
<!-- end subbanner -->

<!-- start content -->
<section id="content"  style="margin-top:5em;margin-bottom: 5em;">
    <div class="container">
        <div class="content-wrap col-md-12">
            <div class="top-content">
                <h3>行业研究<span>Industry Research</span></h3>
                <p style="border-left:6px solid #C4E3F3;padding-left: 1em;">
                    我们关注行业现状与趋势、市场进入与风险、标杆企业案例分析、产品需求与供应等四类核心关键点。
                    我们的研究方向涵盖TMT、现代服务业、电子商务、跨境进出口、医药医疗、机械装备等领域。
                    怡和通致力于通过严谨的研究、精准的策略，求实的态度以企业和行业调研为基础，为投资决策服务。</p>
            </div>
            <div class="invest_cata wow fadeInUp" data-wow-delay="2000">
                <div class="row">
                    <div class="list-wrap">
                        {pc:content action="lists" catid="17" order="listorder DESC" num="4"}
                        <div class="list-item col-md-10 ">

                            <div class="col-md-3">
                                <img src="{thumb($r[thumb],250,130)}" class="img-responsive">
                            </div>
                            <div class="col-md-9">
                                <a href="#"><h4>{$r[title]}</h4></a>
                                <div class="tag">
                                    发布时间：{date('Y.m.d',$r[inputtime])}
                                </div>

                            </div>
                        </div>

                        {/loop}
                        {/pc}

                        <div class="list-page col-md-12">
                            <a href="">1</a>
                            <a href="">2</a>
                            <a href="">3</a>
                            <a href="">▶</a>
                        </div>
                    </div>
                </div>
                <!--   口号，不动-->
                <div class="wrap-bottom col-md-12 wow fadeInRightBig" data-wow-delay="3000">
                    <h3>我们凭借丰富的产业经验、高效的执行力、强大的资源整合能力愿意与您一同成长。</h3>
                </div>
                <!--   口号，over-->
            </div>
        </div>
    </div>
</section>
<!-- end content -->

{template "content","footer"}