{template "content","header"}
<!-- end 公用的导航---->

<!-- start subbanner -->
<section id="subbanner" class="text-center">
    <div class="littlenav">
        <div class="container">

            <h4>关于我们 / 了解以合同</h4>

        </div>
    </div>
</section>
<!-- end subbanner -->

<!-- start content -->
<section id="content"  style="margin-top:5em;margin-bottom: 5em;">
    <div class="container">
        <div class="content-wrap col-md-12">
            <div class="top-content">
                <h3>{$CAT[catname]}<span>ABOUT US</span></h3>
                <p>我们非常乐意获悉您的商业创意和计划，在您把您的商业计划书发给我们之前，我们非常乐意获悉您的商业创意和计划，在您把您的商业计划书发给我我们非常乐意获悉您的商业创意和计划，
                    在您把您的商业计划书发给我们之前，我们非常乐意获悉您的商业创意和计划，在您把您的商业计划书发给我们之前，们之前，我们非常乐意获悉您的商业创意和计划，在您把您的商业计划书发给我们之前，</p>
            </div>
            <div class="mid-content">
                <div class="col-md-4 " style="height:260px;background: #004198;">
                    <h3>yihetong</h3>
                </div>
                <div class="col-md-8 intro-pic">
                    <img src="{IMG_PATH}111.jpg" class="img-responsive" style="height:260px;">

                </div>
            </div>
            <div class="wrap-bottom col-md-12 wow fadeInRightBig" data-wow-delay="3000">
                <h3>我们凭借丰富的产业经验、高效的执行力、强大的资源整合能力愿意与您一同成长。</h3>
            </div>
        </div>
    </div>
</section>

{template "content","footer"}