
                <!-- Start of Footer -->
                <footer id="footer-wrapper">
                        <div id="footer" class="container">

                                    

                              
                        </div>
                        <!-- end of #footer -->

                        <!-- Footer Bottom -->
                        <div id="footer-bottom-wrapper">
                                <div id="footer-bottom" class="container">
                                        <div class="row">
                                                <div class="span6">
                                                        <p class="copyright">
						Copyright 2006-2012 Powered by zgjxrx.com，江苏热线 All Rights Reserved.苏ICP备08013185号
						咨询热线：0510-85383966    邮箱：geusa@163.com 
                                                        </p>
                                                </div>
                                             
                                        </div>
                                </div>
                        </div>
                        <!-- End of Footer Bottom -->

                </footer>
                <!-- End of Footer -->

                <a href="#top" id="scroll-top"></a>

                <!-- script -->
                <script type='text/javascript' src='{JS_PATH}jquery-1.8.3.min.js'></script>
                <script type='text/javascript' src='{JS_PATH}jquery.easing.1.34e44.js?ver=1.3'></script>
                <script type='text/javascript' src='{JS_PATH}prettyphoto/jquery.prettyPhotoaeb9.js?ver=3.1.4'></script>
                <script type='text/javascript' src='{JS_PATH}jquery.liveSearchd5f7.js?ver=2.0'></script>
				<script type='text/javascript' src='{JS_PATH}jflickrfeed.js'></script>
                <script type='text/javascript' src='{JS_PATH}jquery.formd471.js?ver=3.18'></script>
                <script type='text/javascript' src='{JS_PATH}jquery.validate.minfc6b.js?ver=1.10.0'></script>
                <script type='text/javascript' src='{JS_PATH}custom5152.js?ver=1.0'></script>
                <script language="JavaScript" src="{APP_PATH}api.php?op=count&id={$id}&modelid={$modelid}"></script> 
              
                	<!--<script type="text/javascript"> 
				 $(function(){  
                  $("#delete").click(function(){  
//                  $("#zhiding").not("#artibody").remove();
                    $(":contains(提示)").remove();
                     
                  })  
                 
                 }); 
                </script>-->

        </body>