 <div id="footer">
              <div class="fotLxwm hidden-xs">
                    <div class="clearfix wid">
                        <div class="fl flxwm">
                            <h2>联系我们</h2>
                            山东渤聚通云计算有限公司<br>
                            地址：烟台开发区长江路300号<br>
                          邮政编码：264000<br>
                            电话：13708043890<br>
                            公司邮箱：<a href="mailto:00000@bojutong.com.cn">131212300000@bojutong.com.cn</a>
                        </div>
                        <!--<div class="fr" >
                        	<div class="row" style="margin-bottom: 25%;">
                        		<div style="margin-right: 60%;" class="col-md-6" >
                        		 <ul>
                        	      	<li style="float:left;"><a href="#"><img src="{IMG_PATH}gz1.jpg"/></a></li>                    	      	
                        	      	<li style="float:left;"> <a href="#"><img src="{IMG_PATH}gz2.jpg"/></a></li>
                        	      	<li style="float:left;">  <a href="#"><img src="{IMG_PATH}gz3.jpg"/></a></li>
                        	      </ul>
                        	     </div>                        	     
                         	</div>                              
                        </div>                       -->
                        
                        	  <div class="fr">
                            <table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tbody>
                                <tr>
                                  <td><p class="gzbt">关注渤聚通，获取最新资讯</p>
                                   <ul>
                        	      	<li style="float:left;"><a href="#"><img src="{IMG_PATH}gz1.jpg"/></a></li>                    	      	
                        	      	<li style="float:left;"> <a href="#"><img src="{IMG_PATH}gz2.jpg"/></a></li>
                        	      	<li style="float:left;">  <a href="#"><img src="{IMG_PATH}gz3.jpg"/></a></li>
                        	      </ul>                  
                                  </td>
                                  <td><p style="padding-left:38px;"><img src="{IMG_PATH}wx.jpg" alt=""/></p></td>
                                </tr>
                                <tr>
                                  <td colspan="2"><p class="fwrx">服务热线：<span>400-888-6666</span></p></td>
                                </tr>
                              </tbody>
                            </table>
                        </div>
                              
                            </div>
              </div>
              
              <div class="fotnr">
                    <div class="wid">
                    Copyright © 2011 RIMI 山东渤聚通云计算有限公司 保留所有版权 蜀ICP备12030008号-1
                    </div>
              </div>
       </div>
    
 
</body>
</html>