{template "content","header"}
<!-- end 公用的导航---->

<!-- start subbanner -->
<section id="subbanner" class="text-center">
    <div class="littlenav">
        <div class="container">

            <h4>{$CAT[catname]}</h4>

        </div>
    </div>
</section>
<!-- end subbanner -->

<!-- start content -->
<section id="content"  style="margin-top:5em;margin-bottom: 5em;">
    <div class="container">
        <div class="content-wrap col-md-12">
            <div class="top-content">
                {pc:content action="lists" catid="15" num="1" order="id DESC" page="$page" moreinfo="1"}
                {loop $data $r}
                <h3>{$r[title]}<span>{date('Y-m-d H:i:s',$r[inputtime])}</span></h3>
                <p >
                    {$r[content]}
                </p>
            </div>
            <!--下载的内容页的下载按钮-->
            <div class="download">
               <a href="{$r[dizhi]}"> <button type="button" class="btn btn-primary">点击下载</button></a>
            </div>
            {/loop}
            {/pc}
        </div>

        <!--   口号，不动-->
        <div class="wrap-bottom col-md-12 wow fadeInRightBig" data-wow-delay="3000" style="margin:0;">
            <h3>我们凭借丰富的产业经验、高效的执行力、强大的资源整合能力愿意与您一同成长。</h3>
        </div>
        <!--   口号，over-->
    </div>
    </div>
    </div>
</section>
<!-- end content -->







{template "content","footer"}