{template "content","header"}
<!-- end 公用的导航---->

<!-- start subbanner -->
<section id="subbanner" class="text-center">
    <div class="littlenav">
        <div class="container">

            <h4>关于我们 /{$CAT[catname]}</h4>

        </div>
    </div>
</section>
<!-- end subbanner -->

<!-- start content -->
<section id="content"  style="margin-top:5em;margin-bottom: 5em;">
    <div class="container">
        <div class="content-wrap col-md-12">
            <div class="top-content">
                <h3>了解怡和通<span>ABOUT US</span></h3>
                <p><span style="color:#006ff3;font-weight:600">怡和通基金管理有限公司</span>是一家专注于股权投资及管理的专业机构。<br>
我们依托产业园区的优势，发现有效投资机会，并伴随企业成长周期，提供投资及投资管理相关服务。<br>

我们在TMT、现代服务业、电子商务、跨境进出口、医药医疗、机械装备等领域均有专业的投资团队进行长期研究、跟踪，并有成长期和成熟期企业的投资管控体系，我们致力于为您提供由初创到成熟的发展过程中全程、全面投资。<br>
我们凭借丰富的产业经验、高效的执行力、强大的资源整合能力愿意与您一同成长。</p>
            </div>
            <div class="mid-content">
                <div class="col-md-4 " style="height:260px;background: #004198;">
                    <h3 style="color:#fff;text-align:center;margin-top:3em;">怡和通基金</br></br>管理有限公司</h3>
                </div>
                <div class="col-md-8 intro-pic">
                    <img src="{IMG_PATH}111.jpg" class="img-responsive" style="height:260px;">

                </div>
            </div>
            <div class="wrap-bottom col-md-12 wow fadeInRightBig" data-wow-delay="3000">
                <h3>我们凭借丰富的产业经验、高效的执行力、强大的资源整合能力愿意与您一同成长。</h3>
            </div>
        </div>
    </div>
</section>
	
{template "content","footer"}