{template "content","header"}
<div class="zixun container content-detail">
    <div class="row">
        <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="breadcrumb2">
                <span>{$CAT[catname]}</span>
                 
            </div>
            {pc:content action="lists" catid="$catid" num="20" order="id DESC" page="$page" moreinfo="1"}
				
            <ul class="list">
            	{loop $data $r}
                <li class="list-item">
                     <a href="{$r[url]}">
                        <span class="title f-thide"> {$r[title]}</span>
                        <span class="time f-thide">[{date('Y-m-d',$r[inputtime])}]</span>
                    </a>
                </li>
            {/loop}  
            {/pc}
            <nav class="pagination">
                <ul>
                   {$pages}
                </ul>
            </nav>
            <!--<nav class="navigation" aria-label="Page navigation">-->
                <!--<ul class="pagination" id="pagination"></ul>-->
            <!--</nav>-->
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="breadcrumb2">
                <span>重要资讯</span>
            </div>
{pc:content action="hits" catid="$catid" num="2" order="views DESC" cache="3600"}
				{loop $data $v}
            <div class="important-info">
                <img src="{$r[thumb]}" >
                <div class="info-time">
                    <p class="month">{date('m',$v[inputtime])}</p>
                    <p class="date">{date('d',$v[inputtime])}</p>
                </div>
                <div class="info-title f-thide3">
                	<a href="{$v[url]}" style="color: #666666;">
                   {str_cut(strip_tags($v[description]),500)}
                   </a>
                </div>
            </div>
            {/loop}

{/pc}
        </div>
    </div>

</div>
{template "content","footer"}