{template "content","header"}
<!-- end 公用的导航---->

<!-- start subbanner -->
<section id="subbanner" class="text-center">
    <div class="littlenav">
        <div class="container">

            <h4>{$CAT[catname]}</h4>

        </div>
    </div>
</section>
<!-- end subbanner -->

<!-- start content -->
<section id="content"  style="margin-top:5em;margin-bottom: 5em;">
    <div class="container">
        <div class="content-wrap col-md-12">
            <div class="top-content">
                <h3>投资策略<span>INVEST STRATEGY</span></h3>
                <p>"智慧、抱负与机会的结合将所向无敌。我们关注风险投资类、成长投资类及新三板和IPO类等处于不同发展阶段的优秀企业，结合不同的阶段我们进行区别的资本投入。"</p>
            </div>
            <div class="invest_cata wow fadeInUp" data-wow-delay="2000">
                <div class="col-md-4">
                    <div class="invest-item">
                        <div class="invest-title">
                            <h4>一、风险投资类</h4>
                        </div>
                        <div class="invest-content">
                            <p>高质量、快速增长的公司是怡和通的重要投资目标，我们欣赏那些潜质独到，蓄势而发的公司，对于运营相对稳定、市场前景好的成长性企业，我们单一标的所占企业股份一般不超过20%。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="invest-item">
                        <div class="invest-title">
                            <h4>二、成长投资类</h4>
                        </div>
                        <div class="invest-content">
                            <p>我们乐于与那些勤奋扎实的初创型创业者为伴，我们在意那些题材新、未来发展前景好的标的，而不在意他有无耀眼的光环。作为合作伙伴，我们单一标的所占股份一般不超过30%。</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="invest-item">
                        <div class="invest-title">
                            <h4>三、新三板及IPO类</h4>
                        </div>
                        <div class="invest-content">
                            <p>对于目标行业内发展相对成熟的企业，我们乐意与您共享企业发展的成果，我们可以通过整合多重资源、协助企业挂牌和IPO上市。</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="wrap-bottom col-md-12">
                <h3>我们凭借丰富的产业经验、高效的执行力、强大的资源整合能力愿意与您一同成长。</h3>
            </div>
        </div>
    </div>
</section>
<!-- end content -->

{template "content","footer"}