{template "content","header"}
<div class="zixun-article container content-detail">
    <div class="row" style="padding: 0 15px;">
        <div class="col-md-9 col-sm-8 col-xs-12">
            <div class="breadcrumb2">
                <span>{$CAT[catname]}</span>
            </div>
            <div class="zjshb-nav-detail cb">
                <h2>{$title}</h2>
                <h3 class="time">{$r[inputtime]}</h3>
                <div class="article-show">
                   {$content}
               </div>
            </div>
        </div>
        <div class="col-md-3 col-sm-4 col-xs-12">
            <div class="breadcrumb2">
                <span>相关文章</span>
            </div>
            {pc:content action="lists" catid="$catid" num="20" order="id DESC" page="$page" moreinfo="1"}
            <ul class="list">
            	 	{loop $data $r}
                <li class="list-item">
                    <a href="{$r[url]}">
                        >
                        <span class="title f-thide"> {$r[title]}</span>
                    </a>
                </li>
                  {/loop}  
            </ul>
             {/pc}
        </div>
    </div>

</div>

{template "content","footer"}